SLACK_SIGNING_SECRET=your_slack_signing_secret
GOOGLE_DRIVE_PARENT_FOLDER_ID=1auVQU0bl03kYMM9DI__6RtiixHEAHmxz
ASANA_WORKSPACE_ID=your_asana_workspace_id
ASANA_ACCESS_TOKEN=your_asana_access_token
# Path to your Google Service Account JSON file
GOOGLE_APPLICATION_CREDENTIALS=service_account.json
